<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- interface의 full name을 namespace의 속성으로 사용 : 필수 -->
<mapper namespace="com.firstboot.mapper.MemberMapper">

	<!-- select 결과 메핑을 위한 resultMap 설정 -->
	<select id="selectMemberById" resultType="com.firstboot.domain.Member">
		select * from memberinfo where userid=#{userid};
	</select>
</mapper>